<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="24111318"
    android:versionName="8.2.3"
    android:compileSdkVersion="32"
    android:compileSdkVersionCodename="12"
    package="com.swiftsoft.anixartd"
    platformBuildVersionCode="32"
    platformBuildVersionName="12">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.swiftsoft.anixartd.App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:banner="@mipmap/ic_banner"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <activity
            android:theme="@style/Base.Theme.AppCompat"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>
        <activity
            android:theme="@style/AppTheme.Start"
            android:name="com.swiftsoft.anixartd.p015ui.activity.StartActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="file/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="anixart.tv"
                    android:pathPrefix="/release"/>
                <data
                    android:scheme="https"
                    android:host="mirror.anixart.tv"
                    android:pathPrefix="/release"/>
                <data
                    android:scheme="http"
                    android:host="anixart.tv"
                    android:pathPrefix="/release"/>
                <data
                    android:scheme="http"
                    android:host="mirror.anixart.tv"
                    android:pathPrefix="/release"/>
                <data
                    android:scheme="https"
                    android:host="anixart.tv"
                    android:pathPrefix="/collection"/>
                <data
                    android:scheme="https"
                    android:host="mirror.anixart.tv"
                    android:pathPrefix="/collection"/>
                <data
                    android:scheme="http"
                    android:host="anixart.tv"
                    android:pathPrefix="/collection"/>
                <data
                    android:scheme="http"
                    android:host="mirror.anixart.tv"
                    android:pathPrefix="/collection"/>
                <data
                    android:scheme="https"
                    android:host="anixart.tv"
                    android:pathPrefix="/profile"/>
                <data
                    android:scheme="https"
                    android:host="mirror.anixart.tv"
                    android:pathPrefix="/profile"/>
                <data
                    android:scheme="http"
                    android:host="anixart.tv"
                    android:pathPrefix="/profile"/>
                <data
                    android:scheme="http"
                    android:host="mirror.anixart.tv"
                    android:pathPrefix="/profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="anixart"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.swiftsoft.anixartd.p015ui.activity.UpdateActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:theme="@style/Base.Theme.AppCompat"
            android:name="com.swiftsoft.anixartd.utils.cropper.CropImageActivity"/>
        <activity
            android:theme="@style/AppTheme.Auth"
            android:name="com.swiftsoft.anixartd.p015ui.activity.AuthActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="com.swiftsoft.anixartd.p015ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.swiftsoft.anixartd.p015ui.activity.webplayer.WebPlayerActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:theme="@style/AppTheme.SwiftPlayer"
            android:name="com.swiftsoft.anixartd.p015ui.activity.swiftplayer.SwiftPlayerActivity"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:theme="@style/AppTheme.KodikAdTheme"
            android:name="com.swiftsoft.anixartd.p015ui.activity.kodik.KodikAdActivity"
            android:configChanges="screenSize|orientation"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.swiftsoft.anixartd.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>
        <service
            android:name="com.swiftsoft.anixartd.notification.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.swiftsoft.anixartd.notification.SilentPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.swiftsoft.anixartd.action.ymp.SILENT_PUSH_RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/YandexAdsInternal.AdActivity"
            android:name="com.yandex.mobile.ads.common.AdActivity"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.yandex.mobile.ads.core.initializer.MobileAdsInitializeProvider"
            android:exported="false"
            android:authorities="com.swiftsoft.anixartd.MobileAdsInitializeProvider"/>
        <activity
            android:theme="@style/EasyPermissions.Transparent"
            android:label=""
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="genericidp"
                    android:host="firebase.auth"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="recaptcha"
                    android:host="firebase.auth"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.firebase.messaging.directboot.FirebaseMessagingDirectBootReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.messaging.RECEIVE_DIRECT_BOOT"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.yandex.metrica.push.core.notification.MetricaPushDummyActivity"
            android:exported="false"
            android:noHistory="true">
            <intent-filter>
                <action android:name="com.yandex.metrica.push.action.NOTIFICATION_ACTION"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.yandex.metrica.push.core.notification.MetricaPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yandex.metrica.push.action.NOTIFICATION_ACTION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.yandex.metrica.push.service.PushJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.yandex.metrica.push.service.PushService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.yandex.metrica.push.core.notification.MetricaPushNotificationStatusChangeHandler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.APP_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_GROUP_BLOCK_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yandex.metrica.push.core.notification.TtlBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yandex.metrica.push.action.EXPIRED_BY_TTL_ACTION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data
                android:name="metrica:api:level"
                android:value="105"/>
        </service>
        <service
            android:name="com.yandex.metrica.ConfigurationService"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica">
            <meta-data
                android:name="metrica:configuration:api:level"
                android:value="3"/>
            <intent-filter>
                <action android:name="com.yandex.metrica.configuration.ACTION_INIT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.yandex.metrica.ConfigurationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica"/>
        <provider
            android:name="com.yandex.metrica.PreloadInfoContentProvider"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica"
            android:authorities="com.swiftsoft.anixartd.appmetrica.preloadinfo.retail"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.swiftsoft.anixartd.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:theme="@style/VK.Transparent"
            android:name="com.p017vk.api.sdk.p018ui.VKWebViewAuthActivity"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.p017vk.api.sdk.p018ui.VKCaptchaActivity"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.p017vk.api.sdk.p018ui.VKConfirmationActivity"/>
        <provider
            android:name="com.p017vk.api.sdk.internal.VKInitProvider"
            android:exported="false"
            android:authorities="com.swiftsoft.anixartd.VKInitProvider"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <activity
            android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity"
            android:enabled="false"
            android:exported="false"
            android:process=":playcore_missing_splits_activity"
            android:stateNotNeeded="true"
            android:launchMode="singleInstance"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <service
            android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"
            android:enabled="false"
            android:exported="true">
            <meta-data
                android:name="com.google.android.play.core.assetpacks.versionCode"
                android:value="11002"/>
        </service>
        <service
            android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService"
            android:enabled="false"
            android:exported="false"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <provider
            android:name="pl.aprilapps.easyphotopicker.EasyImageFileProvider"
            android:exported="false"
            android:authorities="com.swiftsoft.anixartd.easyphotopicker.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/easyimage_filepaths"/>
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.swiftsoft.anixartd.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
    </application>
</manifest>
